body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 100%;
    max-width: 500px;
}

.chat-box {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
}

.messages {
    padding: 20px;
    height: 300px;
    overflow-y: auto;
}

.input-box {
    display: flex;
    border-top: 1px solid #eee;
    padding: 10px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
}

button {
    background-color: #ff5f5f;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-left: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ff3f3f;
}

.message {
    margin-bottom: 15px;
}

.message.bot {
    text-align: left;
    color: #555;
}

.message.user {
    text-align: right;
    color: #000;
}

.message .text {
    display: inline-block;
    background-color: #ff5f5f;
    color: #fff;
    padding: 10px;
    border-radius: 15px;
    max-width: 70%;
    animation: fadeIn 0.3s ease;
    word-break: break-word; /* Permite a quebra de palavras longas */
    overflow-wrap: break-word; /* Garante que as palavras longas sejam quebradas */
}

.message.user .text {
    background-color: #f1f1f1;
    color: #333;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
